/* Global styles  */
/* body {
    color: white;
} */

/* Navigation bar/Header section */
.social-link {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    }

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    margin:0px 15px;
}

.customNav {
    position: fixed;
    width: 100%;
    z-index: 15;

    
}

.navbar {
    background-color: black !important;
    
}

.navbar .navbar-brand, .navbar .collapse .navbar-nav a, .navbar .collapse .navbar-nav a .active, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.disabled {
    color: white;
}

.navbar-light .navbar-toggler {
    color: white;
}

/* .nav-item:focus, .nav-item:hover {
    color:red;
    background:yellow;
} */

/* Hero section-jumbotron */
.jumbotron {
    background:rgba(0,0,0,.70) url(../images/programmer-screen-1-header.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
}

.jumbocopy {
    color:white;
    text-align: center;
}

#jumbo-img {
    height: 100%;
    width: 100%;
    border: solid white 0.5rem;
    margin:auto;
    
    }





#jumbo-imgContainer {
    margin-top:1rem;
}

.welcome_msg {
    margin-bottom: 20px;
}

.my-4 {
    border-top: 2px dashed white;
    width: 50%;
    margin:0 auto;
}

/* About-me section */
.about-me {
    width: 90vw;
    margin:0 auto;
    background-color: #EBEBEB;
    border-radius: 1.5rem;
}

.about-TextContainer{
    padding: 1rem 2rem;
}

/* Portfolio section */
.sectionHeading {
    text-align: center;
}

    



