
/* Navigation bar/Header section */
.social-link {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    }

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    margin:0px 15px;
}

.customNav {
    position: fixed;
    width: 100%;
    z-index: 15;
}

.navbar {
    background-color: black !important;
    
}

.nav-item:focus, .nav-item:hover {
    background:blue;
}

/* Hero section-jumbotron */
.jumbotron {
    background:rgba(0,0,0,.70) url(../images/programmer-screen-1-header.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
}

.jumbocopy {
    color:white;
    text-align: center;
}

#jumbo-img {
    height: 100%;
    width: 100%;
    border: solid white 0.5rem;
    margin:auto;
    
    }

#jumbo-imgContainer {
    margin-top:1rem;
}

.welcome_msg {
    margin-bottom: 20px;
}

.my-4 {
    border-top: 2px dashed white;
    width: 50%;
    margin:0 auto;
}

/* About-me section */
.about-me {
    width: 90vw;
    margin:0 auto;
    background-color: #EBEBEB;
    border-radius: 1.5rem;
}

.about-TextContainer{
    padding: 1rem 2rem;
}

.about-social-link {
    display: flex;
    list-style-type: none;
    padding-left: 0px;  
}

/* Portfolio section */
.sectionHeading {
    text-align: center;
}

   #portfolioRow-1 {
    margin-bottom: 1.5rem;
   }

.btn-primary {
    background-color: black;
    color:white;
    border-color: white;
   }

/* Footer section */
footer {
    background-color: #EBEBEB;
    padding-top: 15px;
   }

#my-form-button:hover {
    box-shadow: 3px 3px 3px 1px;
}

#footer_nav li a {
    text-decoration: none;
    color: black;
    }

#footer_nav li a:hover {
    background-color: black;
    color: white;
    }   


#footer_nav {
    list-style-type:none;
    padding-left: 0px;
    margin-bottom: 0.5rem;
    }

#copy-right {
   text-align: center;
}


/* media queries */
@media only screen and (max-width:767px) {
    #footer-nav-container h4,#footer_nav li,#my-form h4, #my-form p,#contact-form h4 {
        text-align: center;
    }
  
    #my-form{
        margin: 0 auto;
        
    }
       
    #footer-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
   


